
/* General Use */

*{
    margin:0;
    padding:0;
    border:0;
}


body{
    font-family: 'Mulish', sans-serif;
    margin:0;
    padding:0;
    border:0;
    background-color: #fafafa;
}

ul{
    list-style-type: none;
}

/* Special Classes */

.inline{
    display: inline;
}

.justify-right-item{
    text-align: right;
}

.justify-left-item{
    text-align: right;
}

.center-text{
    text-align: center;
}

/* Background Colors */

.bg-three-color-header{
    background-color: #ACCBE1;
}

.bg-three-color-body{
    background-color: rgba(124, 152, 179, 0.7);
}

.bg-three-color-footer{
    background-color: #536B78;
}

/* Header */

.header-image{
    margin: 10px;
}

.logo{
    text-align: left;
    padding-top: 5px;
    padding-right: 8px;
    border-bottom: 3px solid #070707;
}

.header-text, .logo-text{
    font-family: 'Rubik', sans-serif;
    font-size: 40px;
    color: #070707;
}

li a{
    text-decoration:none
}

a:hover{
    color: #fafafa;
}

.active{
    border-bottom: #fafafa 2px solid;
}

/* Hero Image */

.hero-container{
    height:700px;
    width: 100%;
    overflow: hidden;
    position: relative;
}

.hero-image{
    height:700px;
    width: 100%;
}

.hero-image-text{
    font-size: 150%;
    letter-spacing: 4px;
    width: 400px;
    height: 150px;
    padding-top: 40px;
    padding-left: 10px;
    background-color: rgba(124, 152, 179, 0.7);
    bottom:30px;
    left:150px;
    position:absolute;
}

/* Offers */

.offers{
    margin-top: 10px;
    padding: 10px 20px;

}

.offer-image{
    width: 430px;
    height: 320px;
}

.offer-icons{
    padding-left: 5px;
}

.offer-header{
    margin-bottom: 20px;
}


/* Contacts */

.contact-header{
    margin-bottom: 20px;
}

.contacts{
    padding: 3px;
}

.opening-times{
    margin: 20px;
}

.opening-times td{
    padding: 3px;
    border: #070707 1px solid;
}

.btn-primary{
    margin-top: 100px;
    background-color: rgba(124, 152, 179, 0.7);
    border: #070707 2px solid;
}

/* Footer */

.footer{
    border-top: 3px solid #070707;
    text-align: left;
    padding-top: 5px;
    padding-right: 8px;
}

.footer-icon{
    padding: 10px;
}

/* Menu */

.selector-box{
    text-align: center;
    margin-bottom: 25px;
}

/* Form */

.form-container{
    margin: 1rem;
}